body{
    margin-top: 32px;
    margin-right: 980px;
    margin-left: 32px;
    margin-bottom: 32px;
}

h1{
    align-items: center;
    text-align: center;
}

.container{    
    border: solid 2px aqua;
}

button{   
    height: 32px;
    width: 32px;  
}

.button1{
    margin-top: 16px;
    margin-left: 52px;
}

.button2{
    margin-left: 16px;
}

.button3{
    margin-left: 36px;
}

.button4{
    margin-left: 52px;
    margin-bottom: 16px;
}

.button5{
    margin-left: 72px;
}

.button6{
    margin-left: 36px;
}